.calendar-header {
  display: flex;
  justify-content: space-between;
}

.header-year {
  font-size: 1rem;
}
.header-month {
  font-size: 2rem;
}

.month-wrap {
  display: flex;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
}

.week-item {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-days__day-item {
  text-align: center;
}

.calendar-days__day-item--today {
  color: red;
}
.calendar-days__day-item--selected {
  border: 1px solid blue;
}
