header {
  max-width: 600px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.icon-btn {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-btn {
  font-size: 2rem;
  font-weight: 900;
  color: #bfbfe5;
  margin: 10px 12px;
}
