a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
}

.posts-header-hr {
  width: 90%;
  padding: 0;
  margin: 0.5rem;
  border-bottom: 1px solid #999999;
  border-top: none;
}
.post-hr {
  width: 80%;
  margin: 2rem auto;
  border-bottom: 1px solid #dddddd;
  border-top: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-calendar-wrap {
  width: 90vw;
  min-width: 280px;
  /* max-width: 600px; */
  min-height: 50px;
  border-radius: 15px;
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 5px;
  position: relative;
}

.main-calendar {
  /* width: 80vw; */
}

.following-wrap {
  display: flex;
  align-items: center;
  width: 90%;
  height: 30px;
  margin: 5px;
}

.following-user {
  line-height: 25px;
  margin: 5px;
  padding: 0.1rem 0.8rem;
  border-radius: 0.8rem;
  background-color: white;
}

.main-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* height: 500px; */
  background-color: white;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 100px;
}

.posts-body {
  width: 100%;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.8rem;
}

.posts-header__title {
  font-size: 1.3rem;
  display: flex;
}

.title-content-input {
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
}

.title-edit-btn {
  display: block;
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

.post-content {
  width: 84%;
  margin: 0 8%;
}

.post-content__img {
  height: 250px;
  background-color: gray;
  margin: 1rem 0;
}

.post-content__date {
  font-size: 0.8rem;
  color: rgb(157, 157, 157);
}

.post-content__text {
  display: block;
  margin: 0.8rem 0;
}

.post-content__tags {
  display: flex;
}

.tag-item {
  background-color: rgb(181, 230, 232);
  padding: 0.3rem 1rem;
  margin: 0.2rem;
  font-size: 0.7rem;
  border-radius: 0.65rem;
}

.empty-post {
  height: 300px;
  text-align: center;
  padding-top: 100px;
}

.empty-post span {
  display: block;
  line-height: 3rem;
  color: #aeaeae;
  font-size: 2rem;
}
