.profile-container {
  width: 90vw;
  max-width: 600px;
  border-radius: 15px;
  background-color: white;
  padding: 30px 20px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}

.profile-hr {
  width: 100%;
  margin: 0 auto 10px;
  border-bottom: 1px solid #dddddd;
  border-top: none;
}

/* user-profile */
.user-profile {
  display: flex;
}

.user-profile__img {
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
}
.user-profile__img__img {
  width: 100%;
  height: 100%;
  background-color: gray;
  object-fit: cover;
}

.user-profile__nickname {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-top: 50px;
  height: 1.3rem;
}
.user-profile__nickname--text {
}
.user-profile__nickname--edit-btn {
  margin-left: 10px;
  font-size: 1.1rem;
}

/* user-follow */
.user-follow {
  display: flex;
  padding: 20px 10px;
  position: relative;
}

.user-follow__wrap {
  width: 50%;
  align-items: center;
}
.user-follow__title {
  margin-right: 10px;
}
.user-follow__number {
  font-size: 0.9rem;
}

/* user-info-item */
.user-info-item {
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-info-item__upper-menu {
  display: flex;
  justify-content: space-between;
}
.user-info-item__upper-menu__left {
  display: flex;
}
.user-info-item__title {
  font-size: 1.2rem;
  width: 5rem;
  display: block;
}
.user-info-item__subtitle {
  font-size: 0.5rem;
  line-height: 1.5rem;
  color: #8e8e8e;
}
.user-info-item__edit-btn {
}

.user-info-item__contents {
  display: flex;
}

.user-info-item__tag-item {
  background-color: rgb(158, 203, 205);
  padding: 1px 6px;
  font-size: 0.6rem;
  height: 1.3rem;
  border-radius: 0.6rem;
  margin: 4px;
  display: flex;
  align-items: center;
}
.user-info-item__tag-item__title {
  padding-left: 0.3rem;
}
.user-info-item__tag-item__xbtn {
  padding-left: 0.3rem;
}

.user-info-item__acheivement-item {
  margin: 6px;
}
.user-info-item__acheivement-item__img {
  width: 16vw;
  max-width: 100px;
  height: 16vw;
  max-height: 100px;
  border-radius: 50%;
  background-color: darkturquoise;
}
.user-info-item__acheivement-item__title {
  font-size: 0.5rem;
  text-align: center;
  display: block;
  margin: 7px auto;
  color: #8e8e8e;
}

/* modal */

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

.edit-nick-modal-close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.edit-nick-modal {
  position: relative;
  background-color: white;
  border: 3px solid #bfbfe5;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #999;
  margin: 30vh auto 0;
  width: 80vw;
  max-width: 400px;
  height: 150px;
  padding: 20px;
}
.edit-nick-modal__title {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.edit-nick-modal__input-box {
  margin-bottom: 15px;
  margin-left: 2rem;
}
.edit-nick-modal__input {
  border-bottom: 1px solid black;
  text-align: center;
}
.edit-nick-modal__input-check-btn {
  margin-left: 0.8rem;
}
.edit-nick-modal__check-msg {
  display: block;
  font-size: 0.9rem;
  color: forestgreen;
  height: 1.2rem;
}
.edit-nick-modal__input-submit-btn {
  background-color: #bfbfe5;
  padding: 5px 8px;
  border-radius: 8px;
  color: white;
}
